parameters:
    level: 4

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - node_modules
        - tests
        - vendor

    ignoreErrors:
        - '#Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::#'
        - '#Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::#'
